section {
    display: block;
}

@media (max-width: 1024px){
    .banner {
        padding: 100px 0;
    }

    .bg-banner-one {
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        object-fit: cover;
    }
    
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        line-height: 4.5rem;
    }

    .bg-banner-one {
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        object-fit: cover;
    }
    
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
        line-height: 4.5rem;
    }
}

.banner {
    padding: 250px 0 150px;
    position: relative;
}

.bg-banner-one {
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    object-fit: cover;
}

.container {
    width: 100%;
    padding-right: 150px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 4%;
    line-height: 4.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-lg-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.block {
    position: relative;
    z-index: 10;
}

.countdown {
    color: #6d6d6d;
}

h1 {
    text-transform: uppercase;
    font-size: 5.5rem;
    color: #ff6600;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    text-transform: uppercase;
    font-size: 4.625rem;
    color: #fff;
    font-weight: 400;
    text-shadow: 3.5px 6.062px 0px rgba(0, 0, 0, 0.1);
    font-style: italic;
}

h6 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 50px;
    font-size: 1.25rem;
}