.NavbarItems{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 55%;
    height: 88px;
    white-space: nowrap;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-gap: 1px;
    list-style: none;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
}

.nav-links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover {
    color: #ff6905;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.nav-links-ticket {
    display: none;
    text-decoration: none;
    background-color: #ff6905;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}


.nav-links-ticket i{
    padding-right: 10px;
}

.navbar-logo {
    text-decoration: none;
    background-color: #ff6905;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Optional: Center content vertically (if needed) */
}

.navbar-logo img {
    /* Optional: Set image dimensions if needed */
    width: 100px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
}

button{
    padding: 1rem 1rem;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
    width: 180px;
}

button:hover {
    background-color: #ff6905;
    color: #ffffff;
}

.nev-logo {
    display: inline-block;
    padding-top: 1.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inhertit;
    white-space: nowrap;
}