.speakers {
    position: relative;
}

.section {
    padding: 90px 0;
}

.bg-speaker {
    background-size: cover;
    background-position: center center;
}

section {
    display: block;
}

@media (min-width: 768px) {
    .containerSpeaker, .container-md, .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .containerSpeaker, .container-sm {
        max-width: 540px;
    }
}

.containerSpeaker, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rowSpeaker {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-12Speaker {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.section-titleSpeaker {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 40px;
}

.alternateSpeaker {
    color: #ff6600;
    font-style: italic;
    font-weight: 400;
}

.section-titleSpeaker p {
    color: #fff;
}

p, a, li, blockquote, label {
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 0;

}

p {
    margin-top: 0;
}

.col-lg-3Speaker {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.speakers .speaker-item {
    background: #eae9ec;
    padding: 7px;
    margin-bottom: 30px;
}

.speakers .speaker-item .imageSpeaker {
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.imgSpeaker-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.speakers .speaker-item .imageSpeaker .primary-overlaySpeaker {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff6600;
    opacity: .85;
    transition: .3s ease;
}

.speakers .speaker-item .imageSpeaker .socialsSpeaker {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .4s ease;
}

@media (max-width: 1200px) {
    .speakers .speaker-item .imageSpeaker .socialsSpeaker ul {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
}

.speakers .speaker-item .imageSpeaker .socialsSpeaker ul {
    width: 50%;
}

.list-inlineSpeaker {
    padding-left: 0;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .speakers .speaker-item .imageSpeaker .socialsSpeaker ul li.list-inlineSpeaker-item:not(:last-child) {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.speakers .speaker-item .imageSpeaker .socialsSpeaker ul li.list-inlineSpeaker-item:not(:last-child) {
    margin-right: 7px;
    margin-bottom: 10px;
}

.list-inline-itemSpeaker {
    display: inline-block;
}

p, a, li, blockquote, label {
    font-size: 1rem;
    line-height: 26px;
    color: #848484;
}

.speakers .speaker-item .imageSpeaker .socialsSpeaker ul li a {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #fff;
}

a {
    transition: 0.2s ease;
}

.speakers .speaker-item .image .socials ul li a i {
    font-size: .9375rem;
    color: #fff;
    line-height: 50px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}